.breadCrumbs{
    display: flex;
    column-gap: 19px;
    &__item{
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #0F303F;
        position: relative;
        &:not(&:first-child)::before{
            content: '';
            position: absolute;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: #0F303F;
            top: 50%;
            left: -10px;
        }
    }
}