.catalog{
    padding: 8px 0 50px;
    &__content{
        display: flex;
        column-gap: 25px;
    }
    &__right{
        width: 75%;
        height: 100vh;
        // background: black;
    }
    &-title{
        font-weight: 500;
        font-size: 25px;
        text-transform: uppercase;
        color: #0F303F;
        margin-bottom: 50px;
    }
}