.catalog__row{
    flex-wrap: wrap;
    justify-content:space-between;
    display: flex;
}
.catalog__card{
    justify-content: center;
    text-align: center;
}
.catalog__price{
    display: flex;
    justify-content: space-evenly;
}
del {
	color: #CECECE;
	text-decoration: line-through;
}
del span {
	color: #CECECE;
}
